# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 5d0f42686376842f293faaa58adc7b830205d748f48912bf97af7a9d86a57d7e1b5d97006e297417fa8521d08f87e7ea2db898df388a52cdae422833362b54de

test:
  secret_key_base: 03e469de3d85d309ab8390fb843969a1889236b1be31353faab2e80f238866ceb180a6e1722f8be3b2b4450cba5af1f661c83f4c74d2e954b1698e72bae7e880

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
